.remy-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  margin-top: auto;
  font-family: $heading-font;
  color: $gray;
  font-style: italic;
  font-size: 13px;
  text-align: center;
  span {
    font-weight: 700;
  }
  .social-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    li {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    svg {
      fill: $primary;
      transition: $transi;
      &:hover,
      &:focus {
        fill: $white;
      }
    }
  }
}
